.pageContainer {
    padding: 20px;
    background-color: #f8f9fa; /* Light grey background */
    min-height: 100vh; /* Minimum height to fill the viewport */
  }
  
  .pageTitle {
    text-align: center;
    color: #333;
    margin-top: 0;
    padding-top: 20px;
  }
  
  .blogList {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between blog previews */
    align-items: center; /* Center align the blog previews */
  }
  